// SCUT SIDE-LINED
// http://davidtheclark.github.io/scut/#side-lined

@mixin scut-side-lined (
  $height: 1px,
  $space: 0.5em,
  $color: inherit,
  $style: solid,
  $v-adjust: false,
  $double: false,
  $fade: false
) {

  display: block;
  overflow: hidden;
  text-align: center;
  @if $fade != false {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:before,
  &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 50%;

    border-top-style: $style;
    border-top-width: $height;

    @if $color != inherit {
      border-top-color: $color;
    }

    @if $v-adjust != false {
      bottom: $v-adjust;
    }

    @if $double != false {
      height: $double;
      border-bottom-style: $style;
      border-bottom-width: $height;
      @if $color != inherit {
        border-bottom-color: $color;
      }
    }
  }

  &:before {
    right: $space;
    margin-left: -50%;
  }
  &:after {
    left: $space;
    margin-right: -50%;
  }

  @if $fade != false {
    &:before, &:after {
      border: none;
      width: calc(100% / 3);
      height: $height;
      content: "";
    }
    &:before {
      right: 0;
      margin-right: $space;
      background-image: linear-gradient(to left, $color, transparent);
    }
    &:after {
      left: 0;
      margin-left: $space;
      background-image: linear-gradient(to right, $color, transparent);
    }
  }

}

%scut-side-lined {
  @include scut-side-lined;
}
